page-home {

}
.alarm-buttons {
    border-radius: 50%;
    width: 86px;
    height: 86px;
    box-shadow: 5px 6px 9px grey;
}
.alarm-time {
    font-size: 50px;
    font-weight: bolder;
}
.message {
    font-weight: bold;
}